.header {
  width: 100%;
  padding: 0.5vw;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition-property: transform;
  transition-delay: 0s;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.author {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.8vw;
  font-weight: 700;
  letter-spacing: 1px;
  color: #484853;
}

.avatar {
  border-radius: 6px;
  width: 2.7vw;
  height: 2.7vw;
  margin-right: 10px;
}

.hide {
  transform: translateY(-105%);
}

.backTop {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 14px;
  position: fixed;
  right: 6vw;
  bottom: 6vw;
}
