html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Optima-Regular,Optima,-apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #e6e6e6 !important;
}

*::-webkit-scrollbar-thumb {
  background: #585865 !important;
  border-radius: 1px !important;
}

* {
  transition-property: color,background,box-shadow,border-color;
  transition-delay: 0s,0s,0s,0s;
  transition-duration: .2s,.2s,.2s,.2s;
  transition-timing-function: ease,ease,ease,ease;
}